body{
    font-family: 'Montserrat';
}



#title{
    background-color:#ff4c68;
    color:white;
    position: relative;
}

#features{
    background-color:white;
    z-index: 1;
    position: relative;
    margin-top:-120px;
}


h1{
    font-family:'Montserrat-black';
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
    

}

.container{
    padding:3% 15%;
}

.navbar{
    padding:0 0 4.5rem;
}


.navbar-brand{
    font-family: 'Ubantu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
    font-size:1.2rem;
    font-family:'Monsterrat';
}

.download-button{
    margin:5% 3% 5% 0;
}

.title-image{
    width:60%;
    transform: rotate(25deg);
    margin-left:120px;
}

.feats{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:150px;

}

.feats h3{
    font-family: 'Monsterrat';
    font-weight: bold;
    font-size:1.5rem;
}

.feats p{
    color:#8f8f8f;
    width:250px;
    text-align: center;
}

.feats i{
    color: #ef8172;
    margin-bottom:1rem;
}

.feats i:hover{
    color:#ff4c68;
}

#testimonials{
    margin:5rem 0 0 0;    
    text-align: center;
    background-color:#ef8172;
    color:white;
}

h2{
    font-family: 'Monsterrat';
    font-size: 3rem;
    line-height: 1.5;
}

#testimonials img{
    width:10%;
    border-radius:100%;
    margin:20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom:3%;
}

#press img{
   width:15%;
   margin:20px 20px 15px;
}

.carousel-item{
    padding:7% 15%;
}

#pricing{
    padding:100px;
    text-align: center;
}

.pricing-column{
    padding:3% 2%;
}

.card-body button{
    width:100%;
}

.bottom{
    color:white;
}

.bottom section{
    background-color:#ff4c68;
    height:350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.bottom-div{
    width:500px;
    display: flex;
    justify-content: center;
}

#cta h3{
    width:500px;
    text-align: center;
    font-weight: bold;
}

#footer{
    color:#8f8f8f;
    margin-top: 80px;
    height:150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

#footer div{
    display: flex;
    gap:20px;
    justify-content: center;
}

@media (max-width:1028px){
    .title-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align:center;
    }
}